<% include ./partials/head.ejs %>

<main>
	<h1>Profile</h1>
	<p>Brugernavn: <%= content.username %></p>
	<form action="/profile/update" method="POST">
		<input type="password" name="password">
		<button type="submit">Skift kode</button>
		
	</form>
	<a href="/logout">Log Out</a>
	<hr>
	<a href="/profile/delete">SLET BRUGER</a>
</main>

<% include ./partials/after-footer.ejs %>