<% include ./partials/head.ejs %>

<main>
	<h1>Register</h1>
	<form method="post">
		<div class="form__inputGroup">
			<label for="login__username" class="input__label">Username</label>
			<input type="text" name="username" id="login__username" class="input__field" placeholder="you@email.com" required>
		</div>
		<div class="form__inputGroup">
			<label for="login__password" class="input__label">Password</label>
			<input type="password" name="password" id="login__password" class="input__field" placeholder="Your secret password" required>
		</div>
		<button type="submit">Register <span class="icon-login"></span></button>
	</form>
</main>

<% include ./partials/after-footer.ejs %>